#root {
	max-width: 1280px;
	margin: 0 auto;
}

.formContainer {
	background-color: #5252525c;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px;
	padding: 40px 20px;
}

.formContainer form {
	display: flex;
	flex-direction: column;
}

.formContainer label {
	margin-bottom: 5px;
	margin-top: 15px;
}

.formContainer input {
	padding: 20px 10px;
	width: 35vw;
}

.formContainer form p {
	margin: 0;
	color: #ff0044;
}
